@charset "UTF-8";

html {

	background-image: url(../img/LibraryIMG.jpg);
	background-color: rgba(255, 255, 255, 0.3);
	background-blend-mode: lighten;
}



.test {
	font-family: Hannotate SC;
	text-align: center;
	background-color: rgba(244, 240, 222, 0.9);
	padding: 9%;
	margin: 5%;
}

.top {
	margin: 10% auto auto auto;
}





.btn {
	color: rgb(191, 191, 240);
	text-align: center;
	font-size: 40px;
	background-color: rgb(65, 49, 107);
	border-radius: 10px;
	cursor: pointer;
	border: 0px;
	padding: 5px 20px 5px 20px;
	margin: 20px;
	text-decoration: none;
	display: inline-block;

}


.h1 {
	font-size: 50px;
	color: rgb(191, 191, 240);
	background-color: rgb(65, 49, 107);
	border-radius: 10px;
	text-align: center;
}

.toph1 {
	font-size: 60px;
	color: rgb(191, 191, 240);
	background-color: rgb(65, 49, 107);
	border-radius: 10px;
	text-align: center;
}

.href {
	color: rgb(4, 50, 255);
	text-align: center;
	font-size: 30px;
	border-radius: 10px;
	padding: 5px 20px 5px 20px;
}





.return {
	margin-top: 50px;
}


.serch {
	font-size: 40px;
	color: #444444;
	text-align: center;


}

.insert {
	font-size: 40px;
	color: #444444;
	text-align: center;



}

.serchResult {

	text-align: center;
	/* 子要素を中央に配置 */
	width: 70%;
	/* 親要素の幅を100%に設定 */
}

.table {
	font-size: 150%;
	text-align: center;
	width: 150%;

	background-color: floralwhite;

}





.text {
	display: inline-block;
	width: 20%;
	border: 1px solid #999;
	box-sizing: border-box;
	background: #f2f2f2;
	margin: 0.5em 0;
	line-height: 1.5;
	height: 3em;
	font-size: 20px;


}

.meantext {
	display: inline-block;
	width: 50%;
	border: 1px solid #999;
	box-sizing: border-box;
	background: #f2f2f2;
	margin: 0.5em 0;
	line-height: 1.5;
	height: 5em;
	font-size: 20px;


}
.th1 {
	width: 20%;
}





.error {
	color: rgb(233, 51, 51);
	font-size: 35px;
	background-color: floralwhite;
	border-radius: 10px;
}